@use '../../styles/mixins.scss' as *;
.g-button {
	@include basic;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	gap: 8px;
	outline: none;
	border: 1px solid #ddd;
	border-bottom-color: #ccc;
	border-radius: 4px;
	background: #fff;
	user-select: none;
	&-small {
		height: 24px;
		&.g-button-circle,
		&.g-button-square {
			width: 24px;
		}
	}
	&-medium {
		height: 32px;
		&.g-button-circle,
		&.g-button-square {
			width: 32px;
		}
	}
	&-large {
		height: 40px;
		&.g-button-circle,
		&.g-button-square {
			width: 40px;
		}
	}
	&:active {
		filter: brightness(0.9);
	}
	&-block {
		display: flex;
		width: 100%;
	}
	&-primary {
		border: 1px solid $primary-color;
		background: $primary-color;
		color: #fff;
	}
	&-round {
		border-radius: $round;
	}
	&-circle {
		padding: 0;
		width: 32px;
		border-radius: $round;
	}
	&-square {
		padding: 0;
		width: 32px;
		border-radius: 4px;
	}
	&-disabled {
		cursor: not-allowed;
		opacity: 0.6;
		pointer-events: none;
	}
}
