@use '../../styles/mixins.scss' as *;
.g-button {
	@include cmm;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	gap: 8px;
	height: 32px;
	outline: none;
	border: 1px solid #ddd;
	border-bottom-color: #ccc;
	border-radius: 4px;
	background: #fff;
	user-select: none;
	&:active {
		filter: brightness(0.9);
	}
	&-block {
		display: flex;
		width: 100%;
	}
	&-primary {
		border: 1px solid $primary-color;
		background: $primary-color;
		color: #fff;
	}
	&-round {
		border-radius: 999vmax;
	}
	&-circle {
		padding: 0;
		width: 32px;
		border-radius: 999vmax;
	}
	&-disabled {
		cursor: not-allowed;
		opacity: 0.6;
		pointer-events: none;
	}
}
