.example {
	display: flex;
	width: 100vw;
	height: 100vh;
	.nav-bar {
		width: 200px;
		height: 100%;
		border-right: 1px solid #ccc;
		background: #222;
		.nav-item {
			display: flex;
			align-items: center;
			padding: 0 16px;
			height: 40px;
			border-bottom: 1px solid #333;
			text-decoration: none;
			color: #fff;
			font-weight: 500;
			&.active {
				text-decoration: underline;
			}
		}
	}
	.content {
		flex: 1;
		padding: 16px;
		background: #f8f8f8;
	}
}
