@use '../../styles/mixins.scss' as *;
.g-image {
	@include basic;
}
.g-image-detail {
	@include basic;
	display: flex;
	justify-content: center;
	&-pic {
		max-width: 90vw;
		max-height: calc(100vh - 240px);
		user-select: none;
		transition: transform 0.2s ease-out;
	}
	&-icon {
		background: #fff;
	}
	&-toolbar {
		position: fixed;
		bottom: 40px;
		padding: 8px 12px;
		background: #fff;
		border-radius: 6px;
		color: #000;
		box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.1);
	}
}
