@use '../../styles/mixins.scss' as *;
.g-avatar {
	@include basic;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	color: #fff;
	&-img {
		width: 100%;
		height: 100%;
		border-radius: inherit;
		object-fit: cover;
	}
	&-badge {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		background: #d03050;
		border-radius: 999vmax;
		padding: 0 6px;
		color: #fff;
		line-height: 1.4em;
	}
	&-round {
		border-radius: 50%;
	}
	&-small {
		width: 24px;
		height: 24px;
	}
	&-medium {
		width: 40px;
		height: 40px;
	}
	&-large {
		width: 56px;
		height: 56px;
	}
}
