@use '../../../common.scss' as *;
.g-button {
	@include common;
	@include radius;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 32px;
	height: 32px;
	outline: none;
	border: 1px solid #e8e8e8;
	border-bottom: 1px solid #ddd;
	background: #fff;
	user-select: none;
	&:active {
		filter: brightness(0.9);
	}
	&.g-block {
		display: flex;
		width: 100%;
	}
	&.g-primary {
		border: 1px solid #333;
		background: #333;
		color: #fff;
	}
	&.g-round {
		border-radius: 999vmax;
	}
	&.g-circle {
		padding: 0;
		width: 32px;
		border-radius: 999vmax;
	}
	&.g-disable {
		cursor: not-allowed;
		opacity: 0.6;
		pointer-events: none;
	}
	.g-text {
		padding-left: 4px;
	}
}
