@use '../../styles/mixins.scss' as *;
.g-space-box {
	@include cmm;
	color: unset;
	font-size: unset;
	flex-wrap: nowrap;
	&.g-small {
		gap: 4px;
	}
	&.g-medium {
		gap: 12px;
	}
	&.g-large {
		gap: 24px;
	}
}
