@use '../../styles/mixins.scss' as *;
.g-loading {
	@include cmm;
	color: $primary-color;
	display: inline-block;
	&-inherit {
		font-size: inherit;
	}
	&-small {
		font-size: 12px;
	}
	&-medium {
		font-size: 24px;
	}
	&-large {
		font-size: 48px;
	}
	&-tip {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 10;
		.g-loading-tip-description {
			font-size: $text-font-size;
			margin-top: 8px;
		}
	}
	&-is-wrapper {
		position: relative;
		.g-loading-tip {
			display: inline-flex;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.g-loading-content {
			transition: filter 0.2s ease-out;
		}
		&.g-loading-spinning {
			.g-loading-content {
				filter: opacity(0.4);
				user-select: none;
				pointer-events: none;
			}
		}
	}
}
