@use '../../styles/mixins.scss' as *;
.g-option {
	@include basic;
	position: relative;
	display: flex;
	align-items: center;
	height: 28px;
	padding: 0 8px;
	border-radius: $radius-m;
	background: #fff;
	cursor: default;
	user-select: none;
	& + .g-option {
		margin-top: 4px;
	}
	&:hover {
		filter: brightness(0.95);
	}
	&:active {
		filter: brightness(0.9);
	}
	&-active {
		background: #eee;
		&::before {
			position: absolute;
			content: '';
			left: 0;
			top: 7px;
			width: 3px;
			height: 14px;
			border-radius: $round;
			background: $color-primary;
		}
	}
}
