@use '../../styles/mixins.scss' as *;
.g-tooltip {
	@include basic;
}
.g-tooltip-content {
	@include basic;
	padding: 6px 12px;
	border-radius: $radius-m;
	box-shadow: $shadow-m;
	&-light {
		color: #333;
		background: #fff;
		border: 1px solid #ddd;
		border-top-color: #eee;
		border-bottom-color: #ccc;
	}
	&-dark {
		color: #fff;
		background: #333;
	}
}
