$primary-color: var(--g-primary-color, #1890ff);
$text-primary: var(--g-text-primary, #111);
$text-font-size: var(--g-text-font-size, 14px);

$shadow-small: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
$shadow-medium: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

$round: 999vmax;
