@use '../../../common.scss' as *;
.g-space-box {
	display: flex;
	.g-space-item {
		&.g-small {
			margin: 0 2px;
		}
		&.g-medium {
			margin: 0 4px;
		}
		&.g-large {
			margin: 0 8px;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
