@use '../../styles/mixins.scss' as *;
.g-popup {
	&-content {
		@include basic;
		z-index: 2000;
		position: absolute;
	}
	&-default {
		padding: 12px 24px;
		border: 1px solid #ddd;
		border-bottom-color: #ccc;
		background: #fff;
		box-shadow: $shadow-medium;
		border-radius: 6px;
	}
}
