@use '../../styles/mixins.scss' as *;
.g-popup-wrap {
	@include basic;
}
.g-popup {
	@include basic;
	position: absolute;
	&-inner {
		padding: 12px 24px;
		border: 1px solid #ddd;
		border-bottom-color: #ccc;
		background: #fff;
		box-shadow: $shadow-medium;
		border-radius: 6px;
	}
}
