@use '../../styles/vars.scss' as *;
.g-icon {
	box-sizing: border-box;
	color: inherit;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	border-radius: $radius-m;
	&-round {
		border-radius: $round;
	}
	&-can-hover {
		padding: 4px;
		&:hover {
			filter: brightness(0.95);
		}
		&:active {
			filter: brightness(0.9);
		}
	}
}
