@use '../../../common.scss' as *;
.g-radio {
	@include common;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	cursor: pointer;
	padding-right: 0.4em;
	position: relative;
	user-select: none;
	&::before {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 999vmax;
		vertical-align: top;
		margin-right: 0.4em;
		border: 1px solid #ccc;
		background-color: #fff;
		transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	}
	&::after {
		content: '';
		display: inline-block;
		width: 6px;
		height: 6px;
		background-color: #fff;
		border-radius: 999vmax;
		position: absolute;
		left: 4px;
		top: 4px;
		transform: scale(0);
		transition: transform 0.2s ease-in-out;
	}
}
.g-radio-input {
	@include common;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	&:checked {
		& + .g-radio {
			&::before {
				border-color: $primary-color;
				background-color: $primary-color;
			}
			&::after {
				transform: scale(1);
				transition: transform 0.2s ease-in-out;
			}
		}
	}
	&:disabled {
		& + .g-radio {
			cursor: not-allowed;
			color: #999;
			&::before {
				background-color: #f2f2f2;
			}
		}
		&:checked {
			& + .g-radio {
				&::before {
					border-color: #ccc;
					background-color: #f2f2f2;
				}
				&::after {
					border-color: #ccc;
					background-color: #ccc;
					transform: scale(1);
				}
			}
		}
	}
	&:not(:disabled) {
		& + .g-radio {
			&:hover {
				&::before {
					border-color: $primary-color;
				}
			}
		}
	}
}
