@use '../../styles/mixins.scss' as *;
.g-list-item {
	@include cmm;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 40px;
	padding: 0 16px;
	gap: 12px;
	&-bordered {
		& + .g-list-item {
			border-top: 1px solid #ddd;
		}
	}
	&-content {
		width: 100%;
	}
}
