$primary-color: var(--g-primary-color, #333);
$text-primary: var(--g-text-primary, #333);

@mixin common {
	box-sizing: border-box;
	color: $text-primary;
	font-size: 14px;
}
@mixin radius {
	border-radius: 6px;
}
