@use '../../styles/mixins.scss' as *;
.g-input {
	@include basic;
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 240px;
	padding: 4px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #ddd;
	border-bottom-color: #ccc;
	transition: all 0.2s ease-out;
	&-inner {
		flex: 1;
		padding: 0 4px;
		outline: 0;
		border: 0;
		background: transparent;
		height: 100%;
		resize: vertical;
		line-height: 1.7;
		&::placeholder {
			color: #999;
		}
	}
	&-clear-icon {
		padding-right: 4px;
	}
	&-block {
		display: flex;
		width: 100%;
	}
	&-round {
		border-radius: $round;
	}
	&-disabled {
		cursor: not-allowed;
		opacity: 0.4;
		.g-input-inner {
			cursor: not-allowed;
		}
	}
	&:not(&-disabled) {
		&.g-input-focus,
		&:active {
			box-shadow: inset 0 0 0 2px $primary-color;
			border-color: $primary-color;
		}
	}
	&-small {
		height: 26px;
	}
	&-medium {
		height: 32px;
	}
	&-large {
		height: 38px;
	}
}
