@use '../../styles/mixins.scss' as *;
.g-textarea {
	@include cmm;
	display: inline-flex;
	width: 240px;
	background: #fff;
	border-radius: 4px;
	padding: 4px;
	border: 1px solid #ddd;
	border-bottom-color: #ccc;
	transition: all 0.2s ease-out;
	&-inner {
		flex: 1;
		min-height: 24px;
		padding: 0 4px;
		outline: 0;
		border: 0;
		background: transparent;
		font-family: inherit;
		line-height: 1.5;
		&::placeholder {
			color: #999;
		}
	}
	&-block {
		display: flex;
		width: 100%;
	}
	&-disabled {
		cursor: not-allowed;
		opacity: 0.4;
		.g-textarea-inner {
			cursor: not-allowed;
		}
	}
	&-focus,
	&:active {
		&:not(.g-textarea-disabled) {
			box-shadow: inset 0 0 0 2px #1890ff;
			border-color: #1890ff;
		}
	}
}
