@use '../../styles/mixins.scss' as *;
.g-radio {
	@include basic;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	user-select: none;
	&-inner {
		padding: 0;
		outline: 0;
		border: 0;
	}
	&-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border: 1px solid #ddd;
		border-bottom-color: #ccc;
		border-radius: 999vmax;
		background: #fff;
		transition: all ease-out 0.1s;
		&::after {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 999vmax;
			background: #fff;
			transition: all ease-out 0.1s;
			transform: scale(0);
		}
	}
	&-checked {
		.g-radio-icon {
			background: $primary-color;
			border-color: $primary-color;
			&::after {
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 999vmax;
				background: #fff;
				transition: all ease-out 0.1s;
				transform: scale(1);
			}
		}
	}
	&-disabled {
		cursor: not-allowed;
		opacity: 0.4;
	}
	&:not(&-checked):not(&-disabled) {
		&:hover {
			filter: brightness(0.95);
		}
		&:active {
			filter: brightness(0.9);
		}
	}

	&-tab {
		@include basic;
		display: inline-flex;
		align-items: center;
		height: 24px;
		padding: 0 16px;
		background: inherit;
		border-radius: 4px;
		user-select: none;
		&-disabled {
			cursor: not-allowed;
			opacity: 0.4;
		}
		&-checked {
			background: #fff;
			box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.1);
		}
		&:not(&-checked) {
			&:not(.g-radio-tab-disabled) {
				&:hover {
					filter: brightness(0.95);
				}
				&:active {
					filter: brightness(0.9);
				}
			}
		}
	}
}
